.ng-hide {
    display: none;
}

h1 {
    margin-top: 1pt;
}

h2 {
    display: inline;
    vertical-align: middle;
}

.center-image {
    /*display: flex;
    justify-content: center;
    margin-top: 7%;
    margin-bottom: 3%;*/
    margin-bottom: 20px;
}

.report-header {
    font-family: Dosis, sans-serif;
    font-weight: 300;
    padding: 5px 20px 5px;
    position: relative;
    background-color: #fff;
    color: black;
    margin: 0 -15px
}

.school-level {
    margin-bottom: -10px;
    margin-top: -10px;
    font-size: 15pt;
}

.report-view {
    height: auto;
    overflow: scroll;
    padding-bottom: 30px;
}

.report-content {
    /*padding: 20px 5%;*/
    padding: 10px 5%;
    /*margin-top: 50px;*/
    /*margin-bottom: 75px;*/
    clear: both;
}

.bullseye {
    max-width: 600px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 30px;
}

#chart-table {
  margin-top: 40px;
  margin-bottom: 40px;
}

@media print {
    @page {
        font-family: Dosis, sans-serif;
        font-size: 10pt;
        text-align: justify;
        size: US-Letter;
        margin-top: 2cm;
        margin-bottom: 2cm;
        margin-inside: 3.5cm;
        margin-outside: 2.5cm;
    }
    body {
        font-family: Dosis, sans-serif;
        font-weight: 300;
        font-size: 10pt;
        color: #000;
        text-align: justify;
    }
    .h1,
    h1 {
        font-size: 20pt;
    }
    .h2,
    h2 {
        font-size: 18pt;
    }
    .h3,
    h3 {
        font-size: 16pt;
    }
    .h4,
    h4 {
        font-size: 14pt;
    }
    .report-content {
        padding: 1%;
    }
    #summary-table {}
    .center-image {
        /*display: flex;
        margin-top: 0;*/
        margin-bottom: 20px;
        margin-left: 50px;
    }
    #summary-table>table {
        float: none !important;
        page-break-before: always !important;
    }

    .page-break {
      page-break-after:always;
    }
}
